# Rename this to config.py and edit below fields

SMTP_SERVER = "your smtp server without ssl"
SMTP_PORT = 587
SMTP_USER = "account_mail@smtp.server"
SMTP_PASS = "user_account_password"

SERVER_PORT = 8000
DB_FILE = "users.db"
FLASK_APP_SECRET_KEY = "9OLWxND4o83j4K4_any_random_string"
TOKEN_DURATION = 60 * 60 * 24 * 10  # 10 days
RESET_TOKEN_DURATION = 60 * 15  # 15 minutes
ENDPOINT_URL = "ujagaga.tplinkdns.com"
APPLICATION_LOCALE = ("en_US", "UTF-8")
LOCALE_LIST = [("sr_RS", "UTF-8"), ("en_US", "UTF-8")]
USTREAMER_SCRIPT = 'ustreamer.sh'
VIDEO_RESOLUTION = '640x480'
CAMERA_INDEX = 0
STREAM_TIMEOUT=60

COLOR_PROFILES = [
    {
        "COLOR_NAVBAR": "#111111",
        "COLOR_TEXT": "#fff0e7",
        "COLOR_BACKGROUND": "#424344",
        "COLOR_ROW_1": "#111111",
        "COLOR_ROW_2": "#330000"
    },
    {
        "COLOR_NAVBAR": "#2B7590",
        "COLOR_TEXT": "#121211",
        "COLOR_BACKGROUND": "#d5edf6",
        "COLOR_ROW_1": "#2B7590",
        "COLOR_ROW_2": "#88D7E3"
    }
]
