body{
    min-height: 100vh;
}
#video_stream{
    display: block;
    -webkit-user-select: none;
    margin: auto;
    background-color: hsl(0, 0%, 25%);
    margin: 60px 4px;
    border: 2px solid orange;
    border-radius: 5px;
}

.navigation{
    width: 100vw;
    border-bottom: 1px solid black;
    background-color: #111111;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px 0;
}
.navigation a{
    float: right;
    width: 100px;
    display: block;
    color: orange;
    background-color: #111111;
    text-align: center;
    margin: 4px;
    padding: 5px;
    text-decoration: none;
    border: 2px solid orange;
    border-radius: 5px;
}
.navigation a:hover{
    border-color: white;
    color: white;
}


.slider, .r_slide, .g_slide, .b_slide, .a_slide{
-webkit-appearance:none;appearance:none;width:20%;height:0.8em;
border-radius:0.4em;background:#d3d3d3;outline:none;
-webkit-transition:.2s;margin:20px 10px;padding:0;
}
.slider::-webkit-slider-thumb{
-webkit-appearance:none;appearance:none;width:3em;height:3em;
background:white;border-radius:50%;box-shadow:inset -1em -1em 2em rgba(0,0,0,.5);
}
.slider::-moz-range-thumb{
appearance:none;width:3em;height:3em;background:white;
border-radius:50%;box-shadow: inset -1em -1em 2em rgba(0,0,0,.5);
}
.r_slide::-webkit-slider-thumb, .g_slide::-webkit-slider-thumb, .b_slide::-webkit-slider-thumb, .a_slide::-webkit-slider-thumb{
-webkit-appearance:none;appearance:none;width:3em;height:3em;
}
.r_slide::-moz-range-thumb, .g_slide::-moz-range-thumb, .b_slide::-moz-range-thumb, .a_slide::-moz-range-thumb{
appearance:none;width:3em;height:3em;background:white;
}
.r_slide::-webkit-slider-thumb{background:rgb(243, 100, 100);border-radius:50%;box-shadow:inset -1em -1em 2em rgba(112, 2, 2, 0.5);}
.r_slide::-moz-range-thumb{border-radius:50%;box-shadow: inset -1em -1em 2em rgba(112, 2, 2, 0.5);}
.g_slide::-webkit-slider-thumb{background:rgb(141, 243, 100);border-radius:50%;box-shadow:inset -1em -1em 2em rgba(2, 112, 11, 0.5);}
.g_slide::-moz-range-thumb{border-radius:50%;box-shadow: inset -1em -1em 2em rgba(2, 112, 11, 0.5);}
.b_slide::-webkit-slider-thumb{background:rgb(126, 100, 243);border-radius:50%;box-shadow:inset -1em -1em 2em rgba(13, 2, 112, 0.5);}
.b_slide::-moz-range-thumb{border-radius:50%;box-shadow: inset -1em -1em 2em rgba(13, 2, 112, 0.5);}
.a_slide::-webkit-slider-thumb{background:rgb(255, 255, 255);border-radius:50%;box-shadow:inset -1em -1em 2em rgba(27, 27, 27, 0.5);}
.a_slide::-moz-range-thumb{border-radius:50%;box-shadow: inset -1em -1em 2em rgba(182, 181, 184, 0.5);}
#spick{
    width:100%;overflow: auto;
}
