<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office Server</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/home.css"/>
    <link rel="stylesheet" href="static/login.css"/>
</head>
<body>
    <div class="navigation">
        <a href="/printer_on">ON</a>
        <a href="/printer_off">OFF</a>
        <a href="/logout">Logout</a>
    </div>
    <div class="container" id="container">
        <img id="video_stream" src="#">
    </div>
</body>
    <script src="static/home.js"></script>
</html>