<!-- templates/login.html -->

{% extends "base.html" %} {% block content %}
<div class="hero-body">
    <div class="container has-text-centered">

        <div class="limited">
          <h3 class="title">Login</h3>
          <div class="box">
            <form method="POST" action="/login">
              <div>
                <div class="control">
                  <input type="email" name="email" placeholder="{{language['your_email']}}" autofocus=""/>
                </div>
              </div>

              <div>
                <div class="control">
                  <input type="password" name="password" placeholder="{{language['your_password']}}" />
                </div>
              </div>
              <button type="submit" class="full-width">{{language['login']}}</button>
            </form>
            <br />
            <a href="/reset_pass">{{language['forgot_password']}}</a>
          </div>
        </div>
     </div>
</div>
{% endblock %}
