<!-- templates/set_new_password.html -->

{% extends "base.html" %} {% block content %}
<div class="hero-body">
    <div class="container has-text-centered">
        <div class="limited">
          <h3 class="title">{{ language["set_new_password"] }}</h3>
          <div class="box">
            <form method="POST" action="/set_new_password">
              <input type="hidden" name="token" value="{{ token }}" />
              <div>
                <div class="control">
                  <input type="password" name="password1" placeholder="{{ language['new_password'] }}" autofocus=""/>
                </div>
              </div>

              <div>
                <div class="control">
                  <input type="password" name="password2" placeholder="{{ language['repeat_password'] }}"/>
                </div>
              </div>

              <button class="full-width">Set</button>
            </form>
          </div>
        </div>
    </div>
</div>
{% endblock %}
