<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" type="image/x-icon" href="static/favicon.ico">
    <link rel="stylesheet" href="static/weather.css"/>
</head>
<body>
    <div id="headline_container">
        <div class="transparent_back"></div>
        <p>{{city}}</p>
    </div>

    <div id="video_container">
        <video id="weather_video" autoplay muted loop>
            <source src="static/videos/{{icon}}.mp4" type="video/mp4">
        </video>
    </div>

    <div id="status_container">
        <div class="transparent_back"></div>
        <p id="weather_msg">{{weather_msg}}<img src="{{icon_location}}/{{icon}}.png"/></p>
        <p id="temp">{{temperature}}</p>
    </div>
</body>
<script src="static/weather.js"></script>
</html>